{{define "content"}}
<header class="row">
    <div class="col-sm-12" id="entity">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" id="name"></h3>
            </div>
          <div class="panel-body">
          </div>
          <ul class="list-group">
            <li class="list-group-item" id="id"></li>
            <li class="list-group-item" id="description"></li>
            <li class="list-group-item" id="manager"></li>
          </ul>
        </div>
    </div>
</header>

<script>
    window.onload = function () {
        $.ajax({
            url: "/entity/{{.id}}",
            method: 'GET',
        }).done(function(entity) {
            //console.log(entity);
            $("#name").text(entity.name);
            $("#id").text(entity.id);
            $("#description").text(entity.description);
            $("#manager").text(entity.email);
        });
    }
</script>
{{end}}
{{define "contentjs"}}
{{end}}
